<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>
			{{title}} ! Leonado
		</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- {% static '
        Lavish HTML CSS Template
        https://templatemo.com/tm-458-lavish
        -->
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
    {% load static %}
		<link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="{% static 'css/jquery.fullPage.css'%}">
		<!-- custom -->
		<link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">

	</head>
	<body>

    <div class="content">
      {% block content %}

      {% endblock %}
  </div>

    		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						<p>Copyright &copy; 2018 Lavish Personal Profile 
                        
                        . Designed by <a rel="nofollow noopener" href="https://templatemo.com">templatemo</a></p>
						<hr>
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
    {% load static %}
		<script src="{% static 'js/jquery.js'%}"></script>
		<!-- bootstrap -->
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<!-- fullpage -->
		<script src="{% static 'js/jquery.fullPage.js'%}"></script>
		<!-- smoothScroll -->
		<script src="{% static 'js/smoothscroll.js'%}"></script>
		<!-- wow -->
		<script src="{% static 'js/wow.min.js'%}"></script>
		<!-- text rotater -->
		<script src="{% static 'js/jquery.simple-text-rotator.js'%}"></script>
		<!-- custom -->
		<script src="{% static 'js/custom.js'%}"></script>

	</body>
</html>