{% for article in articles %}
    <div class="col-md-12 blog-block">
        <div class="inner">
            <div class="blog-image">
            <i class="fa fa-image"></i>
                {% if article.image != 'null' and article.image.url|length >= 1 %}
                    <a href="{% url 'article' article.id %}"><img src="{{article.image.url}}"  alt="" class="img-responsive" style="width: 983px; height: 447px;"></a>                    
                {% endif %}                
            </div>
            <h3 class="blog-post-title"><a href="{% url 'article' article.id %}">{{article.title}}</a></h3>
            <div class="blog-meta">{{article.created_at|date:"M d, Y"}}<span>|</span>Fecha inicio {{article.dateStartEvent|date:"d M Y"}} - Fecha fin {{article.dateFinishEvent|date:"d M Y"}} | Hora {{article.timeStartEvent}}</div>
            <p>
                {{article.content|safe}}
            </p>
            
        </div>
    </div>

{% endfor %}