<div class="pagination">
    {% if articles.has_previous %}
        <a href="?page=1">&laquo; Primero</a>
        <a href="?page={{articles.previous_page_number}}">Anterior</a>
        
    {% endif %}
    <span class="actual">
        Página {{articles.number}} de {{articles.paginator.num_pages}}
    </span>
    {% if articles.has_next %}
        <a href="?page={{articles.next_page_number}}">Siguiente</a>
        <a href="?page={{articles.paginator.num_pages}}"> Última &raquo;</a>
        
        
    {% endif %}
</div>