{% extends 'layouts/layout.html' %}
{% block content %}

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
						<h1>Leonardo</h1>
						<h2 class="rotate">Estudiante Universidad Remington</h2>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Virtudes: </span>
					</br>
					{% for S in personas %}
						<span class="text-top">	
								{{ S.Habilidad }} 
						</span>
					{% endfor %}

					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Debilidades: </span>
					</br>
					{% for S in personas %}
					<span class="text-top">	
							{{ S.Debilidad }} 
					</span>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->

{% endblock %}